{% extends '../base.html' %}
{% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center gap-3 main-content">
    {% if current_channels %}
      <ul class="list-group">
        {% for channel in current_channels %}
          <li class="list-group-item">
            <div class="d-flex gap-3 list-channel">
              <div>
                <button type="button" class="join-channel btn btn-primary" data-channel-id="{{ channel.channel_id }}" data-channel-code="{{ channel.channel_code }}">Join {{ channel.channel_name }}</button>
                <input id="channel-code-{{ channel.channel_id }}" maxlength="10" type="text" placeholder="Channel Code" />
              </div>
              <div class="channel-info">
                <span>{{ channel.channel_date }}</span>
                <br />
                <span>Created By: {{ channel.creator }}</span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h2>There are currently no active channels.</h2>
    {% endif %}
  </div>
  {% block inline_javascript %}
    <script>
      document.querySelectorAll('.join-channel').forEach((button) => {
        button.addEventListener('click', function () {
          const channelId = this.getAttribute('data-channel-id')
          const channelCode = this.getAttribute('data-channel-code')
          const input = document.getElementById(`channel-code-${channelId}`)
          if (input.value == channelCode) {
            window.location.href = `/swap/channel/${channelId}/`
          }
        })
      })
    </script>
  {% endblock %}
{% endblock %}
