{% extends 'base.html' %}

{% block content %}
  <div class="d-flex flex-column main-content">
    <div class="about-description d-flex flex-column">
      <h1 class="about-header">What is ThoughtSwap?</h1>
      <p>ThoughtSwap is a web application that provides instructors (known as facilitators) to create channels. These channels contain the ability for facilitators to create prompts that participants are able to respond to.</p>
      <p>Facilitators are then able to collect all of these responses, and either display them all to the participants, or delegate random responses to random participants. Additionally, facilitators can save any posts and all of their responses for future reference</p>
    </div>
    <div class="about-facilitator d-flex flex-column justify-content-end">
      <h1 class="about-header">For Facilitators</h1>
      <p>Facilitators can create a new channel through the Manage link on the navigation bar.</p>
      <p>You can also view any of the posts you previously saved, and delete any if needed. Each saved post displays the post's information and any recorded responses.</p>
    </div>
  </div>
{% endblock %}
